---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
            <h1 class="text-5xl font-medium leading-none md:text-6xl text-center md:text-left">Computational Modeling <br> and Simulation <br> Laboratory</h1>
            <p class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12 text-center md:text-left">Researchers, students and scholarship holders from the Physics and Computer Science areas of the Institute of Sciences.</p>
            <div class="w-full justify-center md:justify-start items-center inline-flex">
                <a href="https://github.com/manulthanura/Positivus" target="_blank" class="px-8 py-5 bg-zinc-900 hover:bg-white rounded-2xl text-center text-white hover:text-black border text-xl font-normal leading-7">Book a consultation
                </a>
            </div>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <img src="/services/lmsc.png" width="60%" alt="Hero"/>
    </div>
</div>

<div class="flex-row items-center">
    <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/freecad.png" class="h-12 w-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/laamps.jpg" class="h-15 w-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/03.png" class="h-13 w-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/04.svg" class="h-14 w-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/05.svg" class="h-22 w-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img src="./clients/paraview.png" class="h-10 w-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
    </div>
</div>
</Container>